.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Style for sticky th elements */
.sticky-header th {
  position: sticky;
  top: 0;
}

/* Add a max-height and vertical scroll for the tbody */
.scrollable-tbody {
  max-height: 60vh; /* Adjust the value as needed */
  overflow-y: auto;
}

/* Center the Edit and Delete buttons */
.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn{
  padding: .5rem;
  margin: .2rem;
}